
.gif__uala img{
    width: 350px;
    height: 350px;
    margin: 34px 81px;
}

.gif__uala {
    margin-bottom: 50px;
}
.uala__banner {
    padding-left: 100px;
}

.uala__banner h3{
    font-size: 44px;
    font-family:sans-serif;
    line-height: 1.4;
    font-weight: bold;
    margin-left: 15px;
    color: #3E6BFD;
    padding-bottom: 30px;
}

.uala__banner p{
    margin-left: 15px;
    font-size: 22px;
    color: #999;
    padding-bottom: 30px;
}

.descargar{
    padding: 20px 42px;
    font-size: 18px;
    background: linear-gradient(#537bfc, #7b99fc);
    border-radius: 50px;
    color: white !important;
    text-decoration: none;
    box-shadow: 0px 1px 3px #8282826e;
    position: relative;
    display: block;
    margin-top: 20px;
    width: 200px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.descargar__escritorio{
    display: none;
}


@media (max-width: 1350px) and (min-width: 1080px){
    .banner{
        display: flex;
        padding-top: 200px;
    }
    .uala__banner h3 {
        width: 490px;
    }
    .uala__banner p{
        width: 300px;
    }

    .gif__uala {
        float:right
    }
    .gif__uala img{
        width: 550px;
        height: 500px;
        margin: 34px -16px;
    }
    .descargar {
        display: none;
    }
    .descargar__escritorio{
        display: block;
    }
    .descargar__escritorio a{
        width: 26px;
        height: 26px;
        
    }
    .descargar__escritorio {
        padding-top: 20px;
        padding-left: 23px;
    }
    
    .descargar__escritorio a img{
        padding-right: 49px;
        
    }
    .uala__banner {
        padding-left: 0px;
    }
}

@media (max-width: 1080px) and (min-width: 919px){
    .descargar__escritorio {
        display: none;
    }
    .gif__uala img{
        margin: 20px 181px;
        width: 550px;
        height: 500px;

    }

    .uala__banner {
        padding-left: 100px;
    }
    .uala__banner h3{
        font-size: 35px;
    }
    .uala__banner p{
        width: 300px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .descargar {
        margin-left: 100px;
    }
}

@media (max-width: 919px) and (min-width:501px){
    .gif__uala img{
        margin: 20px 165px;
        width: 550px;
        height: 500px;

    }

    .uala__banner {
        padding-left: 100px;
    }
    .uala__banner h3{
        font-size: 35px;
    }
    .uala__banner p{
        width: 300px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .descargar {
        margin-left: 100px;
    }
    .descargar__escritorio{
        display: none;
    }
}